.catalog{
	padding-top: 10px;
	padding-bottom: 40px;
}
h3{
	font-size: 24px;
	margin-top: 10px;
}
.icontexth3{
	line-height: 30px;
	vertical-align: middle;
	font-size: 24px;
	float: left;
}
.float_left{
	float: left;
}