#account{
	width: 1100px;
}
#account .activecupons{
	padding: 10px 35px 10px 35px;
}
#account .lineProduct{
	float: left;
	height: 100px;
	width: 100%;
	padding: 20px 2.5% 20px 2.5%;
	font-size: 14px;
	color: #333;
	font-family: "Helvetica";
}
#account .lineProductImg{
	float: left;
	height: 100px;
	width: 180px;
	border-right: 1px #CCC dashed; 
}
#account .desProductImg{
	float: left;
	height: 100px;
	width: 300px;
	border-right: 1px #CCC dashed; 
}
#account .TitleTab{
	height: 40px;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #333;
	font-family: "Helvetica";
	padding: 10px 0px 0px 0px;
}
#account .ContentTab{
	height: 45px;
	float: left;
	width: 95%;
	text-align: center;
	font-size: 11px;
	color: #333;
	font-family: "Helvetica";
	padding: 0px 2.5% 0px 2.5%;
}
#account .expirationTime{
	float: left;
	height: 100px;
	width: 180px;
	border-right: 1px #CCC dashed; 
}
#account .seeMore{
	float: left;
	height: 100px;
	width: 150px;
	border-right: 1px #CCC dashed;
}
#account .mailCupon{
	float: left;
	height: 100px;
	width: 150px;
}
#account .buttonImg{
	cursor: pointer;
}
#account .iconcupon{
	font-size: 30px;
	cursor: pointer;
}
#account .botonUp{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 100%;
	margin-left: -30px;
	top:55px;
	cursor: pointer;
}
#account .botonDown{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 100%;
	margin-left: -30px;
	top:100%;
	margin-top: -40px;
	cursor: pointer;
}